.list
{
    display: flex;
    flex-direction: column;
    align-items: center;

    // margin: variables.$borderSceen;
    &__item
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        max-width: 20em;
        width: 20em;
        margin-top: 1em;
        padding: 0.5em;

        background-color: variables.$couleurFiche;

        border-radius: variables.$radius;
        &__data
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &__image
            {
                width: 10em;
                height: 10em;

                background-color: variables.$couleurMain;

                border-radius: 100%;
            }

            &__title
            {
                font-size: 2rem;
                margin: 0.5em 0;
            }

            &__shortDescription
            {
                font-size: 1rem;
                align-items: left;
            }
        }
    }
}