.header
{
    display:flex;
    flex-direction: column;
    align-items: left;
    font-family: Poppins, sans-serif;
    font-size: xx-large;
    margin-top: 15px;
    
    background-color: variables.$couleurButton;
    color: variables.$couleurMain;

    &__title
    {
        margin-left: 0.2em;
        font-weight: normal;
        line-height: 1em;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }

    &__form__search
    {
        display: flex;
        border: solid;
        align-items: right;
        width: 18em;
        height: 3em;
        text-align: left;
        margin-left: 0.725em;
        margin-bottom: 1.5em;
    }
}

@media only screen and (min-width: variables.$desktop)
{
   .header
   {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

        &__title
        {
            margin-left: 0.2em;
        }

        &__form__search
        {
            width: 40em;
            height: 4em;
        }
    } 
}