.fiche
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: variables.$borderSceen;
    padding: variables.$borderSceen;

    background-color: variables.$couleurFiche;

    border-radius: variables.$radius;
    &__data
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3em;

        &__image
        {
            @include mixims.imageFormat;
        }
        &__txt
        {
            &__title
            {
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }
            &__shortDescription
            {
                font-size: 1.25rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }
            &__description
            {
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }
        }
    }

    @media only screen and (min-width: variables.$tablette)
    {
        // justify-content: space-between;
        // align-items: flex-start;
        &__data
        {
            flex-direction: row;
            align-items: flex-start;

            &__image
            {
                margin: 0 variables.$borderSceen;
            }
            &__txt
            {
                &__title
                {
                    font-size: 2rem;
                }
                &__shortDescription
                {
                    font-size: 1.5rem;
                }
                &__description
                {
                    font-size: 1.25rem;
                }
            }
        }
        &__buttonDiv
        {
            display: flex;
            // justify-content: space-evenly;
            width: 30em;
            margin: 2em 0;
        }
    }
    @media only screen and (min-width: variables.$desktop) 
    {
        &__data
        {
            &__image
            {
                margin: 0 variables.$borderSceen;
                width: 20em;
                height: 20em;
            }
            &__txt
            {
                &__title
                {
                    font-size: 2.5rem;
                }
                &__shortDescription
                {
                    font-size: 2rem;
                }
                &__description
                {
                    font-size: 1.5rem;
                }
            }
        }
        &__buttonDiv
        {
            width: 40em;
        }
    }
}