@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  min-height: 100vh;
}

.button, .button--empty, .button--full, .button--nav {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 20em;
  height: 2.5em;
  margin: 15px auto;
  border: 1px solid #06224a;
  border-radius: 2em;
  padding: 0 1em;
  font-size: 1rem;
  text-align: center;
  text-decoration-line: none;
}
.button--full, .button--nav {
  background-color: #06224a;
  color: #edf0ff;
}
.button--empty {
  background-color: #edf0ff;
  color: #06224a;
}
.button--nav {
  width: 2.5em;
  padding: 0;
  margin: 0 0.5em;
  border-radius: 100%;
}
@media only screen and (min-width: 1920px) {
  .button, .button--empty, .button--full, .button--nav {
    height: 3em;
    font-size: 1.5rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 20em;
  width: 20em;
  max-height: 30em;
  min-height: 30em;
  margin-top: 1em;
  padding: 0.5em;
  background-color: #dde4ff;
  border-radius: 1em;
}
.list__item__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list__item__data__image {
  width: 10em;
  height: 10em;
  margin: 1em 0;
  background-color: #edf0ff;
  border-radius: 100%;
}
.list__item__data__title {
  font-size: 2rem;
}
.list__item__data__shortDescription {
  font-size: 1rem;
  align-items: left;
  margin: 1em 0;
}
@media only screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 12em;
  }
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: xx-large;
  margin-top: 15px;
}
.header__title {
  align-items: left;
}
.header__form__search {
  display: flex;
  border: solid;
  align-items: right;
  width: 40em;
  height: 4em;
  text-align: left;
}

.fiche {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  padding: 1em;
  background-color: #dde4ff;
  border-radius: 1em;
}
.fiche__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fiche__data__image {
  width: 10em;
  height: 10em;
  margin: 1em 0;
  background-color: #edf0ff;
  border-radius: 100%;
}
.fiche__data__txt__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.fiche__data__txt__shortDescription {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.fiche__data__txt__description {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .fiche__data {
    flex-direction: row;
    align-items: flex-start;
  }
  .fiche__data__image {
    margin: 0 1em;
  }
  .fiche__data__txt__title {
    font-size: 2rem;
  }
  .fiche__data__txt__shortDescription {
    font-size: 1.5rem;
  }
  .fiche__data__txt__description {
    font-size: 1.25rem;
  }
  .fiche__buttonDiv {
    display: flex;
    width: 30em;
    margin: 2em 0;
  }
}
@media only screen and (min-width: 1920px) {
  .fiche__data__image {
    margin: 0 1em;
    width: 20em;
    height: 20em;
  }
  .fiche__data__txt__title {
    font-size: 2.5rem;
  }
  .fiche__data__txt__shortDescription {
    font-size: 2rem;
  }
  .fiche__data__txt__description {
    font-size: 1.5rem;
  }
  .fiche__buttonDiv {
    width: 40em;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dde4ff;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}
.form__getimage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid #06224a;
  width: 10em;
  height: 10em;
  background: #edf0ff;
}
.form__getimage:hover {
  cursor: pointer;
}
.form__getimage__file {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid #06224a;
  background: #edf0ff;
  width: 1.5em;
  height: 1.5em;
  z-index: 2;
}
.form__getimage__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
  border-radius: 100%;
  font-weight: 700;
  color: transparent;
  z-index: 1;
}
.form__getimage__txt:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #edf0ff;
}
.form__getimage__img {
  position: absolute;
  color: transparent;
  width: 10em;
  height: 10em;
  border-radius: 100%;
}
.form__getimage__img[src=""] {
  display: none;
}
.form__getimage__button {
  display: none;
}
.form__input {
  margin: 1em;
  padding: 1em;
  border: none;
}

/*# sourceMappingURL=style.css.map */
