.edit
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$couleurMain;
    height: 95vh;
    font-size: 2.3em;
    
    &__img
    {
        display: flex;
        width: 20em;
        height: 10em;
        font-size: 0.5em;
        border-radius: 100%;border-color: black;
    }

    &__name
    {
        width: 20em;
        height: 10em;
        font-size: 0.5em;
        background-color: variables.$couleurFiche;
        border-radius: 30px;
    }

    &__small__description
    {
        width: 20em;
        height: 10em;
        font-size: 0.5em;
        background-color: variables.$couleurFiche;
        border-radius: 30px;
    }

    &__description
    {
        width: 20em;
        height: 10em;
        font-size: 0.5em;
        background-color: variables.$couleurFiche;
        border-radius: 30px;
    }

    &__button__form
    {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-evenly;
        // width: 20em;
        // height: 10em;
        // font-size: 0.5em;
        // background-color: variables.$couleurFiche;
        // border-radius: 30px;

            border-radius: 50px;
            width: 40%;
            height: 10%;
            border: solid;
            background-color: variables.$couleurButton;
            border-color: variables.$couleurButton;
            color: #edf0ff;
            text-align: center;
            text-decoration-line: none;
            display: flex;
            align-items: center;
            justify-content: center;
    }
}