.form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: variables.$couleurFiche;
    border-radius: variables.$radius;

    margin: 1em;
    padding: 1em;

    &__getimage
    {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 100%;
        border: 2px solid variables.$couleurButton;
        width: 10em;
        height: 10em;
        margin-bottom: 1em;

        background: variables.$couleurMain;

        &:hover
        {
            cursor: pointer;
        }

        &__file
        {
            position: absolute;
            right: 5px;
            top: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 100%;
            border: 2px solid variables.$couleurButton;
            background: variables.$couleurMain;
            width: 1.5em;
            height: 1.5em;
            z-index: 2;
        }
        &__txt
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10em;
            height: 10em;
            border-radius: 100%;
            font-weight: 700;
            color: transparent;
            z-index: 1;

            &:hover
            {
                background-color: rgba(0, 0, 0, 0.4);
                color: variables.$couleurMain;
            }
        }

        &__img
        {
            position: absolute;
            color: transparent;
            width: 10em;
            height: 10em;
            border-radius: 100%;

            &[src=""]
            {
                display: none;
            }
        }

        &__button
        {
            display:none;
            
        }
    }

    &__label
    {
    font-size: x-large;
    }

    &__input
    {
        background-color: variables.$couleurMain;
        

        margin: 1em;
        padding: 1em;
        width: 20em;


        border-radius: variables.$radius;

        border: none;
        background-color: white;
    }

    @media only screen and (min-width: variables.$tablette)
    {
        &__button
        {
            display: flex;
            // justify-content: space-evenly;
            width: 30em;
            margin: 2em 0;
        }
    }
    
    @media only screen and (min-width: variables.$desktop) 
    {
        
        
        &__button
        {
            width: 40em;
                
        }
        
    }
}

.trix-content
{
    @extend .form__input;
}
