// ------ color
$couleurMain: #edf0ff;
$couleurFiche: #dde4ff;
$couleurButton: #06224a;

// ------ size
$radius: 1em;
$radiusButton: 2em;
$borderSceen: 1em;

// ------ break points
$mobile: 412px;
$tablette: 768px;
$desktop: 1920px;