.button
{
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 20em;
    height: 2.5em;
    margin: 15px auto;
    border: 1px solid variables.$couleurButton;
    border-radius: variables.$radiusButton;
    padding: 0 1em;

    text-align: center;
    text-decoration-line: none;

    &--full
    {
        @extend .button;
        background-color: variables.$couleurButton;
        color: variables.$couleurMain;
    }

    &--empty
    {
        @extend .button;
        background-color: variables.$couleurMain;
        color: variables.$couleurButton;
    }

    &--nav
    {
        @extend .button--full;
        width: 2.5em;
        padding: 0;
        margin: 0 0.5em;
        border-radius: 100%;
    }
}