.button
{
    width: 20em;
    height: 3.5em;
    margin: 15px auto;
    display: block;
    border-radius: 10px;
   
    //Format desktop

    @media only screen and (min-width: variables.$desktop) 
    {
        width: 30em;
        height: 3em;
        font-size: 25px;
    }

}